// ------------------------------------------------------------------------------
// HMRC
// Helper classes
// ------------------------------------------------------------------------------


.hide,
.hidden,
.hide-me {
  display: none;
}

// show only on mobiles (up to M)
.mobile-visible {
  display: none;
  @include mq($from: XS) {
    display: block;
  }
}
.mobile-hidden {
  @include mq($from: M) {
    display: none !important;
  }
}



// show on tablet
.tablet-visible {
  display: none;
  @include mq($from: M) {
    display: block;
  }
}
.tablet-hidden {
  @include mq($from: M) {
    display: none !important;
  }
}


// desktop
.desktop-visible {
  display: none;
  @include mq($from: L) {
    display: block;
  }
}
.desktop-hidden {
  @include mq($from: L) {
    display: none !important;
  }
}

// Helpers
.mt0 {
  margin-top: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}


// Utility classes
.u-align-bottom {
  @include mq($from: M, $until: XXL) {
    align-self: flex-end;
  }
}
.u-align-center {
  @include mq($from: M) {
    align-items: center;
  }
}

.u-tc {
  text-align: center;
}
.u-tr {
  text-align: right;
}


.u-pb-0 {
  padding-bottom: 0;
}
.u-pb-1 {
  padding-bottom: 1em;
}
.u-pb-2 {
  padding-bottom: 2em;
}
.u-pb-4 {
  padding-bottom: 4em;
}
.u-pb-8 {
  padding-bottom: 8em;
}

.u-m-0 {
  margin: 0;
}
.u-mb-0 {
  margin-bottom: 0;
}
.u-mb-1 {
  @include mq($until: M) {
    margin-bottom: 0.5em;
  }
  margin-bottom: 1em;
}
.u-mb-2 {
  margin-bottom: 2em;
}
.u-mb-4 {
  margin-bottom: 4em;
}
.u-mb-8 {
  margin-bottom: 8em; 
}


.hide-ultrawide {
  @include mq($from: XXL) {
    display: none;
  }
}