// ------------------------------------------------------------------------------
// HMRC
// Buttons
// ------------------------------------------------------------------------------


.btn {
  display: inline-block;
  margin-bottom: 0;
  padding: 6px 12px;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  user-select: none;
  outline: none;
}

.btn:hover,
.btn--lg:hover,
.btn--contact:hover,
.btn--download:hover {
  text-decoration: none
}

.btn--primary {
  color: $white-color;
  background-color: $btn-primary-bg-color;
  box-shadow: 0 2px 0 #003618;
}