// ------------------------------------------------------------------------------
// HMRC
// Forms
// ------------------------------------------------------------------------------


fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.input {
  width: 100%;
  margin-bottom: 0.5em;
  color: $input-color;
  border: 0;
  border-radius: 0;
  &:focus {
    outline: none;
    border-color: $input-focus-color;
    &::-webkit-input-placeholder {
      //color: #ffbe08;
    }
  }
  &::-webkit-input-placeholder {
    color: $input-color;
  }
  &::-moz-placeholder {
    color: $input-color;
  }
  &:-ms-input-placeholder {
    color: $input-color;
  }
  &:-moz-placeholder {
    color: $input-color;
  }
  &:focus {
    &::-webkit-input-placeholder {
      color: $input-focus-color;
    }
    &::-moz-placeholder {
      color: $input-focus-color;
    }
    &:-ms-input-placeholder {
      color: $input-focus-color;
    }
    &:-moz-placeholder {
      color: $input-focus-color;
    }
  }
}

.input__label,
.input__field {
  display: block;
}


.input--text {
  margin-bottom: 0.75em;
}
.input--textarea {
  padding: 15px;
  margin-bottom: 0.25em;
  resize: none;
}
.input__hint {
  margin-left: 1em; 
}

.form__messages {
  opacity: 0;
  transition: opacity 150ms;
  &.success,
  &.error {
    padding: 1em;
    margin-top: 0.2em;
    text-align: center;
    border-radius: 5px;
    color: #fff;
    opacity: 1;
  }
  &.success {
    background: $success-color;
  }
  &.error {
    background-color: $error-color;
    .content-style-overlay & {
      background-color: $error-color;
    }
  }
}