// ------------------------------------------------------------------------------
// HMRC
// Typography
// ------------------------------------------------------------------------------


$body-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

html,
body {
  text-rendering: optimizeLegibility;
} 
body {
  font-family: $body-font;
  line-height: 1.4; 
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  -webkit-font-smoothing: antialiased;
  line-height: inherit; 
}

h1, .h1 {
  font-size: 2.2em; 
  font-weight: bold; 
} 
h2, .h2 {
  margin: 0 0 1rem 0;
  font-size: 1.8em;
}
h3, .h3 {
  font-size: 1.6em; 
}
h4, .h4 {
  margin: 0;
  font-size: 1em; 
}
h5, .h5 {
  font-size: 1.2em; 
}
h6, .h6 {
  font-size: 1em; 
}


p {
  margin: 0 0 1em 0; 
}


ul,
ol {
  margin: 0 0 2em 0;
}

.hr {
  margin: 1em 0;
  height: 0;
  border: none;
  border-top: 1px solid $grey-color;
}

.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
