// ------------------------------------------------------------------------------
// HMRC
// Colour vars
// ------------------------------------------------------------------------------

$white-color:           #fff;
$black-color:           #000;
$grey-color:            #ccc;

$icon-hover-color:      #f00;

$error-color:           #f44336;
$success-color:         #8BC34A;

$body-background-color: #fff;
$text-default-color:    #000;
$link-color:            #08c;
$link-visited-color:    #2e3191;
$input-color:           #2e3335;

$input-focus-color:     #2196f3;

$btn-color:             #79b6d8;

$icon-hover-color:      #048895;


$header-border-color:   #005ea5;
$logo-border-color:     #0f918f;

$footer-bg-color:       #eee;
$footer-border-color:   #ccc;

$btn-primary-bg-color:  #00823b;

$secondary-link-color:  #666;