// ------------------------------------------------------------------------------
// HMRC
// Base layout
// ------------------------------------------------------------------------------


html {
   -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
*,
*:before,
*:after {
   -ms-box-sizing: inherit;
  -moz-box-sizing: inherit;
       box-sizing: inherit;
}

html,
body {
  // height: 100%;
}

body {
  background-color: $body-background-color;
  color: $text-default-color;
  -webkit-font-smoothing: antialiased;
  
  @include mq($from: L) {
    font-size: 18px;
  }
}

.body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main-content {
  flex: 1;
}

/* Standard HTML elements */
a {
  color: $link-color;
  transition: color 250ms, background-color 250ms;
}
a:hover {
  //text-decoration: underline;
}
img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}
.img--responsive {
  max-width: 100%;
  height: auto;
}
.img--stretch {
  width: 100%;
  max-width: 100%;
}
.img--stretch-phone {
  @include mq($from: XS) {
    width: 100%;
  }
}

.container {
  @include mq($until: M) {
    margin: 0 1em;
    &--project-grid {
      margin: 0;
    }
  }
  @include mq($from: M) {
    width: 90%;
    margin: 0 auto;
  }
  
  max-width: inherit;
  transition: max-width 250ms;
  // background: pink;
  @extend .cf;
  @include mq($from: L) {
    // max-width: 900px;
  }
  @include mq($from: XXL) {
    // max-width: 1024px;
  }
  @include mq($from: XXL) {
    max-width: 1600px;
  }
}

%col--two-thirds {
  @include mq($from: L) {
    float: left;
    width: calc(66.666% - 12px);
  }
}
%col--one-third {
  @include mq($from: L) {
    float: right;
    width: calc(33.333% - 24px);
  }
}

%col--mt-mid {
  margin-top: 1.65em;
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}


