// ------------------------------------------------------------------------------
// HMRC
// Footer
// ------------------------------------------------------------------------------


.footer {
  padding: 2em 0;
  background-color: $footer-bg-color; 
  border-top: 1px solid $footer-border-color;
  a {
    color: $secondary-link-color;
  }
}
.footer__text {
  font-size: 12px; 
  text-transform: uppercase;
}

.footer-links {
  @include hlist;
  margin-top: 3em; 
  &__item {
    margin-right: 1em; 
  }
}

.ogl {
  float: left;
  margin-top: 1em; 
}
.ogl__logo {
  @include image-replace;
  width: 3em; 
  background: transparent url(../img/ogl.png) no-repeat 0 0;
}

.copyright {
  float: right;
  @include image-replace;
  background: transparent url(../img/crest.png) no-repeat 0 0;
  width: 6em;
  height: 6em;
  background-size: 100%;
}