// ------------------------------------------------------------------------------
// HMRC
// Header
// ------------------------------------------------------------------------------


.header {
}
.header__container {
  border-top: 10px solid $header-border-color;  
}
.header__link {
  position: relative;
  display: inline-block;
  margin: 1em 0;
  padding: 0 2em;
  text-decoration: none;
  color: $text-default-color;
  &::before {
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    content: '';
    background: transparent url(../img/hmrc_logo.png) no-repeat 4px 0;
    width: 26px;
    height: 21px;
    background-size: 20px;
    border-left: 2px solid $logo-border-color;
  }
}