// ------------------------------------------------------------------------------
// HMRC
// Page layout styles
// ------------------------------------------------------------------------------


.img--screenshot {
  width: 250px;
  margin-bottom: 1em; 
}

.help-link {
  display: block;
  margin: 3em 0;
  color: $secondary-link-color;
}

.text {
  margin-top: 2em; 
}